@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../font/ProximaNova-Regular/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src: url('../font/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/ProximaNova-Regular/ProximaNova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/ProximaNova-Regular/ProximaNova-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 2em 0;
    background-image: -webkit-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -webkit-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -webkit-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -webkit-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px);
    background-image: -moz-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -moz-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -moz-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -moz-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px);
    background-image: -o-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -o-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -o-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    -o-radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px);
    background-image: radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px),
                    radial-gradient(rgba(225, 81, 91, 1) 7px, transparent 7px);
  background-color: #e46265;
  -webkit-background-size: 100px 100px;
     -moz-background-size: 100px 100px;
       -o-background-size: 100px 100px;
          background-size: 100px 100px;
  background-position: 0 0, 100px 0, 150px 50px, 150px 50px;
}

.page {
	width: 91.919191919%;
	margin: 0 auto;
}

.main-header {
	width: 97.714285714%;
	margin: 1em 1.142857143% 3.5em;
}

.main-article {
	width: 96.527472528%;
	padding: 2.5em 1.626373626% 2em 1.846153846%;
	background: white;
}

.left-content-box,
.right-content-box {
	float: left;
	width: 49.112426036%;
}

.left-content-box {
	margin-right: 1.775147929%;
}