.my-foto {
	width: 27.6923077%;
	float: left;
	margin-right: 3.296703297%;
	background: white;
}

.my-foto img {
	width: 90.476190476%;
  	margin: 4.761904762%;
}

.contact-info {
	width: 69.010989003%;
	float: left;
	color: white;
}

.contact-info hgroup {
	margin-bottom: 2.5em;
	text-align: center;
}

h1 {
	margin-bottom: 0.3em;
}

.contacts li {
	display: inline-block;
	width: 47%;
}

.contacts i:last-child {
	font-size: 0.75em;
}

.contacts .fa-stack {
	margin-right: 0.5em;
}

.circle {
	border-radius: 50%;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}